*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    list-style-type: none;
}
body {
    position: relative;
    left: 1%;
}

#tela1 {
    display: flex;
    flex-direction: row;
    position:relative;
    left: 4%;
    top: 2px;
}

.tela1 { 
    font-size: 64px;
    font-family: 'Calculator', sans-serif;
}
@font-face {
    font-family: 'Calculator';
    src: url(Calculator.ttf) format('truetype');
}


#calculadora {
    box-sizing: content-box;
    position: relative;
    left: 15%;
    top: 8px;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
}

.botoes {
    font-size: 39px;
    font-family: 'Calculator', sans-serif;
    margin: 5px;
}

.botoes2 {
    font-size: 25px;
    font-family: 'Calculator', sans-serif;
}
.numeros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    width: 100px;
    position: relative;
    left: 5%;
}